* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font: message-box;
    font-size: 15px;
    color: #333;
    line-height: 20px;
}

code {
    line-height: 1rem;
    font-family: monospace;
    font-size: 12px;
    padding: 2px 4px;
    background-color: #f7f7f9;
    border-radius: 3px;
    color: #b02;
}

input[type=text] {
    margin: 2px 0;
    padding: 2px 4px;
    line-height: 20px;
    min-height: 30px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    font-size: 15px;
}

button, select {
    min-width: 95px;
    margin: 2px 4px;
}

p {
    margin: 0.33rem 0.18rem;
}

ul {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 0.2rem 0.4rem;
}

td.label {
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

td.value input[type=text] {
    vertical-align: top;
    width: 100%;
}

#status {
    font-weight: bold;
    font-size: small;
    color: red;
}

#save {
    font-weight: bold;
    line-height: 20px;
}
